.card-style {
  img {
    aspect-ratio: 1 /1;
    object-fit: cover;
  }

  .social {
    i {
      color: $main-color;
      font-size: 1.5rem;
      cursor: pointer;
    }

    a {
      padding-right: .5rem;
    }

    .icon-img {
      width: 10%;
    }
  }
}