.text-edit {
  .quill  {
    border-radius: .5rem;
    border: 1px solid #ccc;

    .ql-toolbar {
      border: none;
      border-bottom: 1px solid #ccc !important;
    }

    .ql-container {
      border: none !important;
    }
  }
}
