.nav-bars {
  position: fixed;
  width: 80vw;
  height: 5rem;
  right: 0;
  z-index: 9;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );

  @include Responsive(XS) {
    display: none;
  }

  @include Responsive(MD) {
    display: none;
  }

  .logo {
    flex-basis: 10%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 4rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      animation: turnLogo 6s infinite linear;
    }
  }

  .brand-spa {
    h5 {
      font-family: Great Vibes,cursive;
      font-size: 2rem;
      color: $main-color;
    }
  }
}

@keyframes turnLogo {
  from {
    transform: rotate(360deg);
  }
}
