.slide-bar {
  width: 20%;
  position: fixed;
  height: 100vh;
  z-index: 10;
  padding: 1rem;
  overflow-y: auto;
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );

  @include Responsive(XS) {
    display: none;
  }
}

.slide-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.slide-bar::-webkit-scrollbar
{
	width: 1px;
	background-color: #F5F5F5;
}

.slide-bar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}