.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  .home-page {
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    .box {
      position: fixed;
      top: 0;
      transform: rotate(80deg);
      left: 0;

      &::after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        transform: translate3d(0, 0, 0);
      }

      .wave {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 3%;
        left: 10%;
        background: #0af;
        width: 1500px;
        height: 1300px;
        margin-left: -150px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 7000ms infinite linear;
      }
      .wave.-three {
        animation: drift 7500ms infinite linear;
        position: fixed;
        background-color: #77daff;
      }

      .wave.-two {
        animation: drift 3000ms infinite linear;
        opacity: 0.1;
        background: #000;
        position: fixed;
      }
    }
  }

  .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.499);
    border-radius: 0.8rem;
    border: 0.2px solid $main-color;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    .logo {
      transform: translateY(-1rem);
      img {
        width: 10%;
        animation: cicle 10s linear infinite;
      }
    }

    h1,
    h3 {
      color: $main-color;
    }

    h1 {
      font-family: Great Vibes, cursive;
      font-size: 4rem;
    }

    h3 {
      font-family: "Times New Roman", Times, serif;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    @include Responsive(XS) {
      width: 95%;

      .logo {
        transform: translateY(-1rem);
        img {
          width: 20%;
        }
      }

      h1 {
        font-size: 3.5rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }

    @include Responsive(MD) {
      width: 95%;

      img {
        width: 20%;
      }
    }

    .btn-login {
      .btn-shine {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px 48px;
        color: #25a7d7;
        background: linear-gradient(
          to right,
          $main-color 0,
          $black 10%,
          $main-color 20%
        );
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 3s infinite linear;
        animation-fill-mode: forwards;
        -webkit-text-size-adjust: none;
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
        white-space: nowrap;
        font-family: "Times New Roman", Times, serif;
        border: 0.2px solid $main-color;
        border-radius: 0.8rem;
        cursor: pointer;

        i {
          font-size: 1rem;
        }
      }
    }
  }

  .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    border: 0.2px solid $main-color;
    padding: 1rem;
    align-items: center;
    overflow: hidden;

    .login-page {
      color: $main-color;

      .logo {
        img {
          width: 10%;
          animation: cicle 10s linear infinite;
        }
      }

      .btn-login {
        width: 100%;
        background: transparent;
        border: .5px solid $main-color;
        padding: .5rem 0;
        border-radius: .8rem;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          right: 0;
          top: 0;
          background: $main-color;
          transition: 1s;
        }

        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          background: $main-color;
          transition: 1s;
        }

        span {
          position: relative;
          color: $main-color;
          font-weight: 600;
          z-index: 1;
        }

        &:hover {
          &::before {
            width: 50%;
          }
          &::after {
            width: 51%;
          }
          span {
            color: $black;
          }
        }
      }
    }

    @include Responsive(XS) {
      width: 95%;

      .login-page {
        .logo {
          img {
            width: 15%;
          }
        }
      }
    }

    @include Responsive(MD) {
      width: 75%;
    }

    @include Responsive(XXL) {
      width: 20%;
    }
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes cicle {
  from {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 250px;
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962ff);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}
